* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* header styling */

nav ul {
    display: flex;
    height: 10vh;
    list-style: none;
    border-bottom: rgba(0, 0, 0, 0.2) solid 2px;
}

nav ul li {
    flex-grow: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

nav ul li:nth-child(2) {
    border-left: rgba(0, 0, 0, 0.2) solid 2px;
    border-right: rgba(0, 0, 0, 0.2) solid 2px;
}